{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
	<title>data</title>	
{% endblock %}

{% block content %}


  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <div class="table-div">
          <table class="table">
            <thead>
              <tr>
                <th>Celebrity Name</th>
                <th>Net Worth</th>
              </tr>
            </thead>
            <tbody>
              {% for celebrity in data %}
                <tr>
                  <td>{{ celebrity.name }}</td>
                  <td>{{ celebrity.worth  }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </header>



{% endblock %}

{% block footer %}
	data
{% endblock %}